.player{
	width:600px;
	height: auto;
	padding: 0px;
}
body{
	background-position-y:10%;
	background-repeat:repeat-x;	
	background-attachment: fixed;
	margin:0px;
}
.bash{
	padding-left: 15%;
	height: 100px;
	width: 100%;
	background-color: #111d5e;
	padding-top: 0%;
	position: fixed;
	border: 3px solid #73AD21;
	border-bottom-left-radius:  30%;
	border-bottom-right-radius:  50%;


}
.ady{
	margin-left: 3%;
	color:white;
	font-size: 80px;
	font-family: Monotype corsiva;
}
.ady_2{
	font-family: cooper black;
	color:gold;
	position: static;
	margin-left: 35%;
	font-size: 250%;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
